:root {
  --textColor: #464646;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background: rgb(251, 199, 212);
  background: linear-gradient(
    90deg,
    rgba(251, 199, 212, 1) 0%,
    rgba(201, 175, 226, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

aside {
  padding: 50px;
}
.navbar {
  display: flex;
  width: 100%;
  font-size: 1rem;
  height: 10vh;
  padding: 10px;
}
.navbar div {
  padding: 10px;
  color: var(--textColor);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
aside {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
}
aside div {
  color: var(--textColor);
  width: 50%;
}
.profile_img {
  display: flex;
  shape-outside: circle(50%);
  justify-content: center;
}
.title-text {
  font-size: 1.5rem;
}
span {
  display: block;
  white-space: nowrap;
  border-right: 2px solid #505050;
  width: 20ch;
  animation: typing 2s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  font-weight: 900;
}
.description {
  position: relative;
  left: 5%;
}
.person_img {
  background: url(./assets/profile.jpg) no-repeat;
  background-size: cover;
  width: 35vw;
  height: 55vh;
  border-radius: 81% 19% 54% 46% / 30% 30% 70% 70%;
  animation: blob-animation 10s ease-in-out infinite alternate;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 1 ease-in-out;
}
.description-text {
  font-size: 0.5rem;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blob-animation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  25% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
