:root {
  --textColor: #f5f5f5;
  --fontSize: 1rem;
  --danger-color: rgb(214, 44, 64);
  --important-color: #d65362;
  --grey-color: #505050;
  --shadows: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: var(--textColor);
}
body {
  background: rgb(251, 199, 212);
  background: linear-gradient(90deg, #0f1519 0%, #d62c40 100%);
  background-size: 400%;
  color: var(--textColor);
}

aside {
  padding: 50px;
}
h2 {
  font-size: 2rem;
}
aside {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
}

aside div {
  color: var(--textColor);
  width: 50%;
}
span {
  display: block;
  white-space: nowrap;
  border-right: 2px solid #505050;
  font-size: 3rem;
  width: 17ch;
  animation: typing 2s steps(17), blink 0.5s infinite step-end alternate,
    bg-animation 20s alternate;
  overflow: hidden;
  font-weight: bolder;
  background-size: 400%;
  background: linear-gradient(to right, rgb(214, 44, 64), #505050);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 5%;
}
ul {
  list-style: none;
}
li a {
  cursor: pointer;
}
/* Navbar */
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1rem;
  transition: 1s ease color;
}
.navbar a:hover {
  color: var(--important-color);
}
.dropdown_menu a:hover {
  color: var(--important-color);
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle-btn {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.action_button {
  background-color: rgba(15, 21, 25, 0.4);
  border: 1px solid var(--important-color);
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}
/* DROPDOWN */
.dropdown_menu {
  display: none;
  position: absolute;
  width: 300px;
  right: 2rem;
  top: 60px;
  list-style: none;
  color: var(--textColor);
  background-color: rgba(214, 44, 64, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
}
.dropdown_menu.open {
  height: 240px;
  z-index: 2;
}
.dropdown_menu a {
  text-decoration: none;
  transition: 1s ease color;
  color: var(--textColor);
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Buttons */
.button {
  color: var(--textColor);
  padding: 10px;
  font-size: 1rem;
  background-color: rgba(15, 21, 25, 0.4);
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  cursor: pointer;
}
.button-warning {
  position: relative;
  top: 30px;
  color: var(--textColor);
  padding: 10px;
  font-size: 1rem;
  background-color: rgba(15, 21, 25, 0.4);
  border: 1px solid var(--important-color);
  border-radius: 2px;
  cursor: pointer;
}
/* Main Section */
.profile_img {
  display: flex;
  shape-outside: circle(50%);
  justify-content: center;
}

.title-text {
  font-size: 2rem;
}

.description {
  position: relative;
  left: 5%;
}
.social-media-container {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  justify-content: left;
}
.social-media-icon i {
  font-size: 1.5rem;
}
.person_img {
  background: url(./assets/profile.webp) no-repeat;
  background-size: cover;
  width: 35vw;
  height: 55vh;
  border-radius: 81% 19% 54% 46% / 30% 30% 70% 70%;
  animation: blob-animation 6s ease-in-out infinite alternate;
  box-shadow: var(--shadows);
  transition: all 1s ease-in-out;
}

.descripition-text {
  font-size: var(--fontSize);
}
/* Skills */
.img-skill {
  height: 10vh;
  width: 9vh;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  color: var(--important-color);
}

.about-section {
  color: var(--textColor);
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  background: rgba(214, 44, 64, 0.05);
  box-shadow: var(--shadows);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-image: linear-gradient(to right, var(--danger-color), #786124) 1;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: auto;
}
.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  color: var(--textColor);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.about-me h2 {
  border-left: 5px solid rgba(255, 255, 255, 0.1);
  border-image: linear-gradient(
      to bottom,
      var(--danger-color),
      var(--important-color)
    )
    1;
  margin-bottom: 1%;
}
.about-me p {
  margin-left: 3%;
  font-size: 1.2rem;
}
/* Hobbies */
.hobbie-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hobbie-container h3 {
  text-align: center;
}
.img-hobbie {
  width: 10vw;
  height: 15vh;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.hobbie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Proyects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects-title {
  padding: 2em 0 1em;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  background: linear-gradient(to right, rgb(214, 44, 64), #505050);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-card {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
.project-card h3 {
  font-size: 1.5rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-img {
  height: 200px;
  border-radius: 10px;
  width: 50%;
}
.project-description {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 0.3rem;
}
.button-project {
  color: var(--textColor);
  padding: 10px;
  font-size: 1rem;
  background-color: rgba(15, 21, 25, 0.4);
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.button-project:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Form */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  margin: 10% 0 5% 0;
  font-size: 3em;
}

.logo span {
  color: var(--important-color);
}

.contact-wrapper {
  box-shadow: var(--shadows);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background-color: rgba(15, 21, 25, 0.4);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid var(--danger-color);
}

.contact-form form button {
  background: var(--important-color);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: var(--danger-color);
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: rgba(214, 44, 64, 0.05);
  box-shadow: var(--shadows);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
/* Responsive */
@media (max-width: 1024px) {
  .navbar .links,
  .navbar .action_button {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
    font-size: 1.5rem;
  }
  aside {
    padding: 20px;
    height: 70vh;
  }
  aside p {
    width: 200px;
    overflow-wrap: break-word;
  }
  span {
    display: block;
    white-space: nowrap;
    border-right: 2px solid #505050;
    font-size: 1.5rem;
    width: 17ch;
    animation: typing 2s steps(17), blink 0.5s infinite step-end alternate,
      bg-animation 20s alternate;
    overflow: hidden;
    font-weight: bolder;
    background-size: 400%;
    background: linear-gradient(to right, rgb(214, 44, 64), var(--grey-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dropdown_menu {
    display: block;
    z-index: 2;
  }
  .person_img {
    background: url(./assets/profile.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    border-radius: 81% 19% 54% 46% / 30% 30% 70% 70%;
    animation: blob-animation 6s ease-in-out infinite alternate;
    box-shadow: 10px 10px 5px 5px rgba(90, 90, 90, 0.1);
    transition: all 1s ease-in-out;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  aside p {
    width: 200px;
    overflow-wrap: break-word;
  }
  span {
    display: block;
    white-space: nowrap;
    border-right: 2px solid var(--grey-color);
    font-size: 1.5rem;
    width: 17ch;
    animation: typing 2s steps(17), blink 0.5s infinite step-end alternate,
      bg-animation 20s alternate;
    overflow: hidden;
    font-weight: bolder;
    background-size: 400%;
    background: linear-gradient(to right, rgb(214, 44, 64), var(--grey-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .person_img {
    background: url(./assets/profile.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    border-radius: 81% 19% 54% 46% / 30% 30% 70% 70%;
    animation: blob-animation 6s ease-in-out infinite alternate;
    box-shadow: 10px 10px 5px 5px rgba(90, 90, 90, 0.1);
    transition: all 1s ease-in-out;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .project-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card img {
    width: 100%;
  }
}

@media (max-width: 560px) {
  aside div {
    width: 100%;
  }
  aside {
    padding: 20px;
    height: 70vh;
  }
  span {
    display: block;
    white-space: nowrap;
    border-right: 2px solid var(--grey-color);
    font-size: 1.5rem;
    width: 17ch;
    animation: typing 2s steps(17), blink 0.5s infinite step-end alternate,
      bg-animation 20s alternate;
    overflow: hidden;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(214, 44, 64), var(--grey-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button-warning {
    width: 30vw;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }
  .person_img {
    display: none;
  }
}
/* Animations */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blob-animation {
  0% {
    border-radius: 20% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 20% 60% 10% 40% / 70% 60% 30% 60%;
  }
  100% {
    border-radius: 20% 40% 30% 70% / 20% 30% 80% 40%;
  }
}
