:root {
  --textColor: #f5f5f5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background: rgb(251, 199, 212);
  background: linear-gradient(90deg, #0f1519 0%, #d62c40 100%);
  background-size: 400%;
}
aside {
  padding: 50px;
}
.navbar {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  height: 10vh;
  padding: 10px;
}
.navbar div {
  padding: 10px;
  color: var(--textColor);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
aside {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
}
aside div {
  color: var(--textColor);
  width: 50%;
}
.profile_img {
  display: flex;
  shape-outside: circle(50%);
  justify-content: center;
}
.title-text {
  font-size: 2rem;
}
span {
  display: block;
  white-space: nowrap;
  border-right: 2px solid #505050;
  font-size: 3rem;
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s infinite step-end alternate,
    bg-animation 20s alternate;
  overflow: hidden;
  font-weight: bolder;
  background-size: 400%;
  background: linear-gradient(to right, #d62c40, #505050);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  position: relative;
  left: 5%;
}
.person_img {
  background: url(./assets/profile.png) no-repeat;
  background-size: cover;
  width: 35vw;
  height: 55vh;
  border-radius: 81% 19% 54% 46% / 30% 30% 70% 70%;
  animation: blob-animation 6s ease-in-out infinite alternate;
  box-shadow: 10px 10px 5px 5px rgba(90, 90, 90, 0.1);
  transition: all 1 ease-in-out;
}
.descripition-text {
  font-size: 1.2rem;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blob-animation {
  0% {
    border-radius: 20% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 20% 60% 10% 40% / 70% 60% 30% 60%;
  }
  100% {
    border-radius: 20% 40% 30% 70% / 20% 30% 80% 40%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  25% {
    background-position: right;
  }
  100% {
    background-position: top;
  }
}
.about-section {
  color: #ddd;
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #d62c40, #786124) 1;
}
